{
  "board": "beaglebone",
  "interactions": {
    "water_1": {
      "attributes": [
        "P9_12",
        "/sys/devices/ocp.3/helper.10/AIN4"
      ],
      "recurring": 600,
      "offset": 10,
      "method": "GpioPollAdc"
    },
    "water_1_threshold": {
      "attributes": [
        "water_1",
        "P8_46",
        700
      ],
      "recurring": 600,
      "offset": 15,
      "method": "GpioOnAverageBelowThreshold"
    }
  }
}
